(:docstring-markup-format :scriba
  :systems (:{{name}}{{^name}}introlisp.util{{/name}})
  :documents ((:title (asdf:system-description (asdf:find-system :{{name}}{{^name}}introlisp.util{{/name}}))
				:authors ("{{author}}{{^author}}{{repoacct}}{{^repoacct}}imcomputer{{/repoacct}}{{/author}}")
				:output-format (:type :multi-html
								:template :minima)
				:sources ("manual.scr"))))
