@begin(section)
@title(Overview)

{{description}}{{^description}}Utilities sub-package for Common Lisp Intro examples project.{{/description}}

@cl:with-package[name="{{name}}{{^name}}introlisp.util{{/name}}"](
@cl:doc(function cartesian-prod)
)

@end(section)
