%module "classic-c"

//%feature("export");

%{
#include <stdlib.h>
#include "intro_c/classic.h"
%}

%include "intro_c/classic.h"
//extern unsigned long fact_i(const unsigned int n);
//extern unsigned long fact_lp(const unsigned int n);

//extern float expt_i(const float b, const float n);
//extern float expt_lp(const float b, const float n);

// swig -cffi -noswig-lisp -I$(PREFIX)/include -outdir build classic-c.i
